*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
*:focus {
    outline: none;
}

body{

    background-color: #091534;
    /*background-color: #091534;*/
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 1200px;
    width: 85vw;
    margin: 0 auto;
    height: 100vh;


}
.side-menu{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 3, 26, 0.67);
    height: 100%;
    width: 90%;
    z-index: 3;
    display: none;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    animation: fadeEffect 500ms; /* Fading effect takes 1 second */
}

.side-content{
    padding: 50px 20px;
    position: absolute;
    top: 50px;
    bottom: 0px;
    width: 100%;
    height: 90%;
    /*background-color: #3FD13C;*/
    display: flex;
    flex-direction: column;
    /*justify-content: start;*/
}

.user-logo{
    /*background-color: #102310;*/
    height: 60px;
    /*margin: 100px;*/
    margin-bottom: 50px;
}


#user-name-letter-side{
    /*background-color: #D24D4D;*/
    /*height: 100%;*/
    font-size: 18px;
    text-align: start;
    padding-top: 30px;
    /*padding-bottom: 40px;*/
    padding-left: 20px;
    text-transform: none;
}

.side-item{
    /*background-color: #D24D4D;*/
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*margin-right: 20px;*/
    cursor: pointer;
}

.side-item .img-close{
    /*background-color: #D24D4D;*/
    height: 30px;
    width: 30px;

}
.img-settings{
    /*background-color: #3FD13C;*/
    margin-left: 10px;
}

.exit_accaunt{
    background-color: #000221;
    position: absolute;
    bottom: 0;
    width: 100%;

}
/*.side-item:hover{*/
/*    background-color: rgba(9, 21, 52, 0.74);*/
/*    border-radius: 20px;*/
/*}*/


.side-item-text{
    /*background-color: #D24D4D;*/
    width: 70%;
    font-size: 18px;
    /*text-transform: uppercase;*/
    font-weight: bold;
}
/*.side-item-text:hover{*/
/*    background-color: rgba(9, 21, 52, 0.74);*/
/*    border-radius: 20px;*/
/*}*/

.side-item .button_close_conteiner{
    margin: 0;
    background-color: rgba(1, 4, 58, 0.73);
    background-color: transparent;
}
.side-item .button_close_conteiner:hover{
    background-color: transparent;
}

.menu-wrapper{
    margin-top: 10px;
    /*background-color: #3FD13C;*/
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}
.head_menu{
    display: flex;
    flex-direction: row;
    /*width: 100%;*/
    /*background-color: #3FD13C;*/
    height: 50px;

}

.menu-button {
    width: 40px;
    /*background-color: #D24D4D;*/
    display: none;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}


.user-name-conteiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-left: 20px;
    /*position: absolute !important;*/
    /*left: 50% !important;*/
    /*top: 20% !important;*/
    /*-webkit-transform: translate(-50%, 0) !important;*/

    /*width: 100%;*/
    /*height: 100%;*/
    /*align-items: center;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*cursor: pointer;*/

    /*background-color: #4e12c5;*/
    padding: 10px;
}
.user-name-conteiner h2 {
    /*background-color: #D24D4D;*/
   height: 100%;
    /*cursor: pointer;*/
    /*text-align: center;*/
    /*font-size: 50px;*/
    /*width: 90%;*/
    /*height: 90%;*/
    padding: 0;
    /*position:absolute;*/
    /*top: 0px;*/
    /*bottom: 0px;*/
    font-size: 18px;
    /*background-color: #b3a2cb;*/
}
#testid {
    margin-left: 20px;
}

.img-logout-conteiner {

    /*background-color: #091534;*/
    /*background-color: #80889d;*/

    display: flex;
    justify-content: center;
    align-items: center;

    /*!*background-color: #091534;*!*/
    /*background-color: #80889d;*/
    /*border-radius: 33px;*/
    /*position: absolute;*/
    /*top: -10px;*/
    /*right: -10px ;*/
    /*width: 50%;*/
    /*height: 50%;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}
.img-logout-conteiner .img_exit {
    padding: 5px;
    /*position: fixed;*/


    /*position: center;*/
}



.graph_conteiner-back{
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    height: 100%;
    width:100%;
    /*background-color: rgb(0, 0, 0);*/
    background-color: #091534;
    display: none;
    animation: fadeEffect 500ms; /* Fading effect takes 1 second */

}

.button_close_conteiner_line{
    position: absolute;
    top: 20px;
    right: 10px ;
}
.button_close_conteiner{
    background-color: #040a1c;
    border-radius: 35px;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button_close_conteiner:hover{
    background-color: #0e1321;
    transition: all 300ms ease;
    cursor: pointer;
}

.button_close_conteiner_last{
    background-color: #040a1c;
    border-radius: 35px;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    /*margin-right: 10px;*/
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_close_conteiner_last:hover{
    background-color: #0e1321;
    transition: all 300ms ease;
    cursor: pointer;
}

.left-middle .button_close_conteiner {
    background-color: rgba(255, 255, 255, 0.22);
    display: block;
    position: relative;
    /*width: 100px;*/
    /*height: 100px;*/
    /*text-align: center;*/
}



.img-close{
    width: 40%; height: auto;
    /*background-color: #3FD13C;*/
}
/*.left-middle .img_exit{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    !*padding: 10px;*!*/
/*}*/



.tab {
    /*padding-left: 20px;*/
    padding-top: 20px;
    overflow: hidden;
    /*height: 50px;*/
    /*border: 1px solid #ccc;*/
    /*border-bottom: 1px solid #ccc;;*/
    /*background-color: #f1f1f1;*/
    background-color: #040a1c;

}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    height: 50px;
    width: 25%;
    border-radius: 10px 10px 0px 0px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: #cccccc;
    font-size: 20px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: green;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color:  #091534;
}

/* Style the tab content */
.tabcontent {
    /*height: 60%;*/
    display: none;
    /*padding-top: 20px;*/
    padding: 6px 12px;
    /*border: 1px solid #ccc;*/
    border-top: none;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

#year_select, #month_select{
    font-size: 16px;
    /*height: 50px;*/
    /*color: #cccccc;*/
    /*background-color: #091534;*/
    /*border: none;*/

    /*color: #fff;*/
    /*box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);*/

}

#year_select{
    margin-right: 10px;
    /*background-color: #3FD13C;*/
}
#month_select{
    margin-right: 10px;
}

.graph_title{
    padding-bottom: 20px;
}

.graph_picker_conteiner{
    margin-top: 10px;
    margin-bottom: 20px;

    /*background-color: #3FD13C;*/
    /*height: 5%;*/
    /*text-align: right;*/
    display: flex;
    justify-content: right;
    align-items: center;
    /*padding-right: 20px;*/
}

.canvas{
    padding: 0px 20px;

}

.container{
    width: 100%;
    height: 90%;
    /*padding: 10px;*/
    display: none;

    padding-top: 10px;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
}

.load{

    /*position: fixed;*/

    /*height: 90vh;*/
    /*z-index: 2;*/
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    height: 100%;
    width:100%;
    /*background-color: rgb(0, 0, 0);*/
    background-color: #091534;
    display: none;
    opacity: 1;
    animation: fadeEffect 500ms; /* Fading effect takes 1 second */

}
/*.load_in_tab{*/
/*    height: 90%;*/
/*    width: 90%;*/
/*    background-color: #3FD13C;*/
/*}*/

.load_intab{
    /*display: block;*/
    /*position: absolute;*/
    /*background-color: #3FD13C;*/
    /*height: 50vw;*/
    /*width: 90%;*/
    /*font-size:20px;*/
    position: absolute !important;
    left: 55% !important;
    top: 35% !important;
    -webkit-transform: translate(-50%, 0) !important;
}
.tab_visible{
    display: none;
}

.myChart{
    display: none;
}
.middle{
    display: flex;
    /*display: flex;*/
    flex-direction: row;
    height: 50%;

}

.left-middle{
    width: 15%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /*align-items: center;*/
}

.summary{
    width: 15%;
    text-align: center;
    /*margin-bottom: 10px;*/
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
}

.current{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    /*background-color: lime;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*transition: all 1s ease;*/

}
.power_id{
    height: 70%;
}


h2{
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}
h3{
    font-size: 17px;
}

h2,h3{

    text-align: center;
    -moz-user-select: none;
    user-select: none;
    cursor: default;

}

#ui-datepicker-div{
    font-size:20px;
    position: absolute !important;
    left: 50% !important;
    top: 35% !important;
    -webkit-transform: translate(-50%, 0) !important;

    background-color: #d0ac62;

}

.image-button {
    cursor: pointer;
}



.was-total-text,.absend-total-text {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    /*margin: 10px 0;*/
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 17px;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
}

.was-total-text{
    background-color: #3FD13C;
}
.absend-total-text{
    background-color: #D24D4D;

}

.absend-total-text:hover, .was-total-text:hover{
    opacity: 80%;
}




.bottom{
    /*transition: all 2s linear;*/
    /*visibility: inherit;*/
    /*height: 40%;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*background: #D24D4D;*/
    height: 50%;
    align-items: center;
}

.message{
    width: 100%;
    height: 10%;
    /*height: 40px;*/
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: center;
}

img{
    width: 30px;
    height: 30px;
}
.text_message_wrapper{
    background-color: #192441;
    width: 100%;
    height: 40px;
    border-radius: 10px ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.today_date{
    opacity: 0;
}


@media only screen and (orientation: portrait) {
    body{
        width: 90vw;
    }
    .button_close_conteiner_line {
        display: none;
    }

    .head_menu{
        width: 100%;
        height: 50px;
        /*background-color: red;*/
        /*height: 50px;*/
        display: none;
    }
    .menu-wrapper {
        height: 50px;
        /*background-color: #D24D4D;*/
        justify-content: end;
        align-items: center;
    }
    .menu-button {
        display: block;
        height: 70%;

    }
    .img_menu{
        height: 100%;
        width: 100%;
        /*padding: 10px 0 10px 0;*/
    }

    .username {
        display: none;
    }

    .side-menu{

        display: none;

    }
    .side-menu-active{
        display: block;
    }

}
/* Portrait*/
/*@media only screen and (orientation: portrait)  {*/


/*    .bottom{*/
/*        !*width: 100%;*!*/
/*        margin: 0 auto;*/
/*        !*margin-top: 50px;*!*/
/*    }*/


/*    .container{*/
/*        !*background-color: #D24D4D;*!*/
/*        !*width: 100%;*!*/
/*        height: 90%;*/
/*        padding-top: 0px;*/
/*    }*/

/*    .image-button {*/
/*        !*background-color: #091534;*!*/
/*    }*/

/*    .summary{*/
/*        !*background-color: #3FD13C;*!*/
/*        width: 20%;*/
/*        text-align: center;*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        justify-content: flex-start;*/
/*        align-items: center;*/
/*        !*padding-bottom: 80px;*!*/

/*        !*align-items: center;*!*/
/*    }*/

/*    .left-middle{*/
/*        width: 20%;*/
/*    }*/

/*    .current{*/
/*        width: 80%;*/
/*        flex-direction: column;*/
/*    }*/

/*    !*.was-total-text{*!*/
/*    !*    font-size: 20px;*!*/
/*    !*    width: 50px;*!*/
/*    !*    height: 50px;*!*/
/*    !*}*!*/

/*    !*.absend-total-text{*!*/
/*    !*    font-size: 20px;*!*/
/*    !*    width: 50px;*!*/
/*    !*    height: 50px;*!*/
/*    !*}*!*/

/*    h2{*/
/*        font-size: 25px;*/
/*    }*/

/*    h3{*/
/*        font-size: 17px ;*/
/*    }*/

/*    .graph_title{*/
/*        font-size: 20px;*/
/*        padding: 20px;*/
/*    }*/

/*    !*img{*!*/
/*    !*    width: 30px;*!*/
/*    !*    height: 30px;*!*/
/*    !*}*!*/

/*    !*.button_close_conteiner{*!*/
/*    !*    width: 50px;*!*/
/*    !*    height: 50px;*!*/
/*    !*    margin-bottom: 10px;*!*/
/*    !*}*!*/
/*    #button_close_tabs{*/
/*        width: 50px;*/
/*        height: 50px;*/
/*        !*margin-bottom: 10px;*!*/
/*    }*/

/*    !*button_close_tabs*!*/
/*    !*.bottom {*!*/
/*    !*    height: 40%;*!*/
/*    !*    margin-top: 50px;*!*/

/*    !*}*!*/
/*    .message{*/
/*        !*background-color: #3FD13C;*!*/
/*        width: 100%;*/
/*        height: 45px;*/
/*        font-size: 16px;*/
/*        align-items: center;*/
/*        text-align: center;*/
/*        margin:  0 auto 5px 0;*/
/*    }*/

/*    #ui-datepicker-div{*/
/*        font-size:16px;*/
/*        position: absolute !important;*/
/*        left: 50% !important;*/
/*        top: 35% !important;*/
/*        -webkit-transform: translate(-50%, 0) !important;*/

/*        background-color: #d0ac62;*/

/*    }*/

/*    .text_message_wrapper{*/
/*        background-color: #192441;*/
/*        width: 100%;*/
/*        height: 40px;*/
/*        border-radius: 10px ;*/
/*        display: flex;*/
/*        justify-content: space-evenly;*/
/*        align-items: center;*/
/*    }*/
/*    .login-password-conteiner {*/
/*        width: 100%;*/
/*    }*/
/*}*/

@media screen and (max-width: 1300px) {

    .bottom{
        width: 100%;
        margin: 0 auto;
    }
    .text_message_wrapper{

    }
    .message{
        height: 40px;
    }

    h2{
        font-size: 20px;
        padding-top: 20px;
    }
    h3 {
        font-size: 17px;
    }
    .today_date{
        height: 1px;
    }
}

@media screen and (max-width: 400px) {



    .bottom{
        margin-top: 25px;
        width: 100%;
        /*margin: 0 auto;*/
    }

    h2{
        font-size: 19px;
    }
    h3 {
        font-size: 17px;
    }
    .message {
        height: 40px;
        font-size: 16px;
        align-items: center;
        text-align: center;
        margin: 0 auto 5px 0;
    }
    .tab button {
        font-size: 16px;
    }


}


@media screen and (max-width: 330px) {


    .user-name-conteiner h2 {
        position: absolute !important;
        left: 50% !important;
        top: -0% !important;
        -webkit-transform: translate(-50%, 0) !important;
        font-size: 23px;
    }
    .bottom{
        width: 100%;
        margin: 0 auto;
    }
    .button_close_conteiner{
        /*background-color: #3FD13C;*/
        height: 40px;
        width: 40px;
    }

    .was-total-text, .absend-total-text {
        height: 40px;
        width: 40px;
        font-size: 14px;
    }
    .img-close {
        height: 20px;
        width: 20px;
    }

    .bottom {
        margin-top: 30px;
        /*justify-content: flex-start;*/
    }

    .text_message_wrapper {
        height: 30px;
        font-size: 14px;
    }
    .graph_title {
        font-size: 16px;
        padding: 10px;
    }
    #ui-datepicker-div{
        font-size: 16px;
    }

}
@media screen and (max-width: 290px) {
    .text_message_wrapper {
        height: 35px;
        font-size: 14px;
    }
}

@media screen and (orientation: landscape) and (max-height: 650px) {
    .bottom{
        padding-top: 40px;
    }
    .summary {
        margin-top: 0px;
    }
    .left-middle {
        margin-top: 0px;
    }
    .text_message_wrapper {
        height: 35px;
        font-size: 14px;
    }
}

