*{
    padding: 0;
    margin: 0;

}

body{
    background-color: #091534;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 700px;
    width: 85vw;
    margin: 0 auto;
    height: 100vh;

}

.graph_conteiner-back{
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    height: 100%;
    width:100%;
    background-color: rgba(0, 0, 0, 0.38);
    display: none;

}
.graph_conteiner{
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    height: 85%;
    width:95%;
    border-radius: 5px;
    background-color: #091534;
    padding-top: 20px;
}

.button_close_conteiner_line{
    display: flex;
    justify-content: end;
    padding-right: 20px;
    margin-bottom: 20px;
}

.button_close_conteiner{
    background-color: #192441;
    border-radius: 35px;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button_close_conteiner:hover{
    background-color: #0e1321;
    transition: all 300ms ease;
    cursor: pointer;
}

.img-close{
    width: 60%; height: auto;
    /*background-color: #3FD13C;*/
}

.graph_title{
    padding-bottom: 20px;
}

.graph_picker_conteiner{
    margin-top: 20px;
    margin-bottom: 20px;
    /*background-color: #3FD13C;*/
    height: 5%;
    /*text-align: right;*/
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 20px;
}

.canvas{
    padding: 0 20px;
}

.container{
    width: 100%;
    height: 90%;
    /*padding: 10px;*/
    display: none;
    padding-top: 10px;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
}

.load{
    /*position: absolute;*/
    position: fixed;
    /*width: 90vw;*/
    height: 90vh;
    z-index: 2;

}

.middle{
    display: flex;
    /*display: flex;*/
    flex-direction: row;
    height: 50%;

}

.left-middle{
    width: 10%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /*align-items: center;*/
}

.summary{
    width: 10%;
    text-align: center;
    /*margin-bottom: 10px;*/
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.current{
    width: 80%;

    margin: 0 auto;
    text-align: center;
    /*background-color: lime;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*transition: all 1s ease;*/

}
.power_id{
    height: 70%;
}
h2,h3{
    text-align: center;
    -moz-user-select: none;
    user-select: none;
    cursor: default;

}

#ui-datepicker-div{
    font-size:20px;
    position: absolute !important;
    left: 55% !important;
    top: 35% !important;
    -webkit-transform: translate(-50%, 0) !important;

    background-color: #d0ac62;

}

.image-button {
    cursor: pointer;
}

.was-total-text,.absend-total-text {
    border-radius: 50px;
    height: 40px;
    width: 40px;
    /*margin: 10px 0;*/
    padding: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
}

.was-total-text{
    background-color: #3FD13C;
}
.absend-total-text{
    background-color: #D24D4D;

}

.absend-total-text:hover, .was-total-text:hover{
    opacity: 80%;
}


h2{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
h3{
    font-size: 14px;
}



.bottom{
    /*transition: all 2s linear;*/
    /*visibility: inherit;*/
    /*height: 40%;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*background: #D24D4D;*/
    height: 50%;
}

.message{
    width: 100%;
    height: 10%;
    /*height: 40px;*/
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: center;
}

.img{
    height: 30px;
}
.text_message_wrapper{
    background-color: #192441;

    width: 100%;
    height: 40px;
    border-radius: 10px ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.today_date{
    opacity: 0%;
}

/* Portrait*/
@media only screen and (orientation: portrait)  {


    .graph_conteiner-back{
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        right: auto;
        bottom: auto;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        height: 100%;
        width:100%;
        background-color: rgba(0, 0, 0, 0.38);


    }

    body{
        /*max-width: 800px;*/
        /*width: 90vw;*/
    }

    .container{
        /*background-color: #D24D4D;*/
        /*width: 100%;*/
        height: 90%;
        padding-top: 0px;
    }

    .image-button {
        /*background-color: #091534;*/
    }

    .summary{
        /*background-color: #3FD13C;*/
        width: 20%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        /*padding-bottom: 80px;*/

        /*align-items: center;*/
    }

    .left-middle{
        width: 20%;
    }

    .current{
        width: 80%;
        flex-direction: column;
    }

    .was-total-text{
        font-size: 20px;
        width: 50px;
        height: 50px;
    }

    .absend-total-text{
        font-size: 20px;
        width: 50px;
        height: 50px;
    }

    h2{
        font-size: 25px;
    }

    h3{
        font-size: 17px ;
    }

    .graph_title{
        font-size: 20px;
        padding: 20px;
    }

    img{
        width: 30px;
        height: 30px;
    }

    .button_close_conteiner{
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
    }
    .bottom {
        height: 40%;
        margin-top: 50px;

        /*background-color: #3FD13C;*/
        /*height: 50%;*/
    }
    .message{
        height: 45px;
        font-size: 16px;
        align-items: center;
        text-align: center;
        margin:  0 auto 5px 0;
    }

    #ui-datepicker-div{
        font-size:16px;
        position: absolute !important;
        left: 50% !important;
        top: 35% !important;
        -webkit-transform: translate(-50%, 0) !important;

        background-color: #d0ac62;

    }

    .text_message_wrapper{
        background-color: #192441;
        width: 100%;
        height: 40px;
        border-radius: 10px ;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}